Repository 13oosters/project-sns-react, pull requests merged in 2022-12, with the labels that each got.

#10 Feat/login
  .eslintrc.json
  package-lock.json
  package.json
  src/App.js
  src/components/common/Logo.js
  src/components/common/ProfileSetting.js
  src/components/login/Form.js
  src/components/login/Login.js
  src/components/login/Welcome.js
  src/components/style/Button.js
  src/components/style/form/ErrorMessageP.js
  src/components/style/form/LoginButton.js
  src/components/style/form/LoginForm.js
  src/components/style/form/LoginInput.js
  src/components/style/form/SignUpButton.js
  src/components/style/form/TitleH2.js
  src/hooks/useFetch.js
  src/hooks/useInput.js
  src/index.js
  src/pages/ErrorPage.js
  src/pages/FollowersPage.js
  src/pages/HomePage.js
  src/pages/LoginPage.js
  src/pages/LoinPage.js
  src/pages/PostPage.js
  src/pages/ProfilePage.js
  src/pages/SearchPage.js
  src/pages/SplashScreenPage.js
  src/pages/UploadPage.js
  src/routes/Router.js
  src/utils/api.js
Labels: Login, design, feat

#11 Refactor/login
  src/components/common/ProfileSetting.js
  src/components/common/SplashScreen.js
  src/components/login/Form.js
  src/components/login/Login.js
  src/components/style/GlobalStyle.js
  src/index.js
  src/pages/LoginPage.js
  src/pages/SplashScreenPage.js
  src/routes/Router.js
  src/utils/validate.js
Labels: refactor

#15 Feat/profile
  src/components/common/ProfileSetting.js
  src/components/profile/FollowerCount.js
  src/components/profile/FollowingCount.js
  src/components/profile/GridCard.js
  src/components/profile/GridCards.js
  src/components/profile/MyProfileButton.js
  src/components/profile/ProfileInformation.js
  src/components/profile/SortButtons.js
  src/components/style/Header.js
  src/components/style/NavBar.js
  src/components/style/profile/FollowCountDiv.js
  src/components/style/profile/FollowCountP.js
  src/components/style/profile/FollowCountSpan.js
  src/pages/ProfilePage.js
Labels: Profile, design

#13 Feat/post
  src/assets/image/icon-Comments.png
  src/assets/image/icon-modal.png
  src/assets/image/image-post임시.png
  src/components/common/Card.js
  src/components/common/Modal.js
  src/components/login/Form.js
  src/components/post/Comment.js
  src/components/post/Comments.js
  src/components/post/Detail.js
  src/components/post/Dialog.js
  src/components/post/Writing.js
  src/components/style/GlobalStyle.js
  src/components/style/Header.js
  src/pages/PostPage.js
  src/pages/ProfilePage.js
  src/pages/임시홈.js
  src/routes/Router.js
  src/utils/postData.js
Labels: design, feat, Post

#12 Feat/home
  package-lock.json
  package.json
  src/assets/image/home-test.png
  src/assets/image/icon-comment.png
  src/assets/image/icon-heart-fill.png
  src/assets/image/icon-search-fill.png
  src/assets/image/logo-notice.png
  src/components/common/Card.js
  src/components/common/Cards.js
  src/components/common/Header.js
  src/components/common/NavBar.js
  src/components/common/Notice.js
  src/components/home/EmptyFeed.js
  src/components/home/Feeds.js
  src/components/style/Header.js
  src/components/style/NavBar.js
  src/pages/HomePage.js
  src/routes/Router.js
Labels: design, docs, feat, Home

#17 Feat/home 작업확인차 머지합니다
  src/components/common/Card.js
  src/components/common/Cards.js
  src/components/style/NavBar.js
Labels: feat, Home

#22 Feat/search 검색 기능 구현
  src/components/search/Result.js
  src/components/search/Results.js
  src/components/style/Header.js
  src/components/upload/ImageUpload.js
  src/hooks/useFetch.js
  src/pages/SearchPage.js
Labels: feat

#19 Feat/post 댓글
  src/components/common/Card.js
  src/components/common/Cards.js
  src/components/common/Modal.js
  src/components/post/Comment.js
  src/components/post/Comments.js
  src/components/post/Detail.js
  src/components/post/Dialog.js
  src/components/post/Writing.js
  src/components/style/Header.js
  src/components/style/NavBar.js
  src/pages/HomePage.js
  src/pages/PostPage.js
  src/pages/SearchPage.js
  src/routes/Router.js
  src/utils/commentData.js
  src/utils/postData.js
Labels: design, feat, Post

#23 Feat/home 홈페이지 좋아요, 피드 데이터 병합, 이미지 슬라이드 진행중
  src/components/common/Card.js
  src/components/common/Cards.js
  src/components/home/PostImage.js
  src/pages/HomePage.js
Labels: design, feat, Home

#24 design: 좋아요 하트 이미지 수정 #7
  src/assets/image/icon-heart-fill.png
  src/assets/image/icon-search-fill.png
  src/components/common/Card.js
  src/components/common/Cards.js
  src/components/style/GlobalStyle.js
Labels: design, Home

#25 feat: 모달창 수정, 라우터 경로 수정 #7
  src/components/common/Card.js
  src/components/common/Cards.js
  src/components/common/Modal.js
  src/components/home/Feeds.js
  src/components/home/PostImage.js
  src/components/post/Detail.js
  src/pages/HomePage.js
  src/routes/Router.js
Labels: feat, Home

#26 feat: 나의 게시물일때 모달창 변경 #7
  src/components/common/Card.js
  src/components/common/Cards.js
  src/components/common/Modal.js
  src/components/home/Feeds.js
  src/components/home/PostImage.js
  src/pages/HomePage.js
  src/utils/api.js
  src/utils/postData.js
Labels: feat, Home

#28 feat: error 페이지 디자인 및 기능구현
  src/pages/ErrorPage.js
Labels: design, feat

#29 feat, design: 프로필, 팔로잉/팔로워 페이지 구현 #9, #20
  src/assets/image/basic-img.png
  src/components/follow/FollowerCard.js
  src/components/follow/FollowerCards.js
  src/components/follow/FollowingCard.js
  src/components/follow/FollowingCards.js
  src/components/followers/List.js
  src/components/followers/Lists.js
  src/components/profile/FollowerCount.js
  src/components/profile/FollowingCount.js
  src/components/profile/GridCard.js
  src/components/profile/GridCards.js
  src/components/profile/ProfileButton.js
  src/components/profile/ProfileInformation.js
  src/components/profile/SortButtons.js
  src/components/style/GlobalStyle.js
  src/components/style/Header.js
  src/components/style/NavBar.js
  src/components/style/follow/FollowButton.js
  src/components/style/follow/FollowCancelButton.js
  src/components/style/profile/FollowButton.js
  src/components/style/profile/FollowCountP.js
  src/components/style/profile/FollowCountSpan.js
  src/pages/FollowersPage.js
  src/pages/FollowingsPage.js
  src/pages/ProfilePage.js
  src/pages/ProfileSettingPage.js
  src/routes/Router.js
Labels: design, feat

#30 Feat/profile
  src/components/follow/FollowerCards.js
  src/components/profile/GridCards.js
  src/components/profile/ProfileInformation.js
  src/pages/ProfilePage.js
Labels: fix, feat

#33 feat: 게시물 이미지 완성 #18
  src/components/upload/ImageUpload.js
  src/components/upload/Posting.js
Labels: feat, Post

#34 Feat/profile
  src/pages/ProfileEditPage.js
  src/pages/ProfileSettingPage.js
  src/routes/Router.js
Labels: design, feat

#32 Feat/home 무한스크롤 구현
  package-lock.json
  package.json
  src/assets/image/loading.gif
  src/components/common/Card.js
  src/components/common/Logo.js
  src/components/home/Loading.js
  src/components/home/PostImage.js
  src/components/login/Form.js
  src/components/upload/Posting.js
  src/index.js
  src/pages/HomePage.js
  src/pages/ProfilePage.js
  src/routes/Router.js
Labels: design, docs, feat, Home

#35 Feat/post 홈피드 모달 수정
  src/components/common/Card.js
  src/components/common/Modal.js
  src/components/upload/EditImage.js
  src/components/upload/ImageUpload.js
  src/components/upload/Posting.js
Labels: feat, Post

#36 feat: 홈화면 모달창 삭제버튼 구현 #7
  src/components/common/Card.js
  src/components/common/Cards.js
  src/components/common/Modal.js
  src/components/home/Feeds.js
  src/pages/HomePage.js
Labels: feat, Home

#37 Feat/post 게시글 수정
  src/components/common/Card.js
  src/components/common/Modal.js
  src/components/post/Comment.js
  src/components/search/Result.js
  src/components/upload/Posting.js
Labels: feat, Post

#39 4인 공통 페이지 디자인 수정, 오류 수정
  src/components/common/Card.js
  src/components/common/Logo.js
  src/components/common/Modal.js
  src/components/common/Notice.js
  src/components/follow/FollowersCards.js
  src/components/follow/FollowingsCards.js
  src/components/home/Feeds.js
  src/components/login/Form.js
  src/components/login/Login.js
  src/components/login/Welcome.js
  src/components/post/Comments.js
  src/components/post/Detail.js
  src/components/post/Dialog.js
  src/components/post/Writing.js
  src/components/profile/ProfileInformation.js
  src/components/search/Result.js
  src/components/search/Results.js
  src/components/style/GlobalStyle.js
  src/components/style/Header.js
  src/components/style/NavBar.js
  src/components/style/PageLayout.js
  src/components/style/form/LoginButton.js
  src/components/style/form/LoginForm.js
  src/components/style/form/TitleH2.js
  src/components/upload/ImageUpload.js
  src/components/upload/Posting.js
  src/components/upload/TextUpload.js
  src/pages/ErrorPage.js
  src/pages/FollowersPage.js
  src/pages/FollowingsPage.js
  src/pages/HomePage.js
  src/pages/LoginPage.js
  src/pages/PostPage.js
  src/pages/ProfileEditPage.js
  src/pages/ProfilePage.js
  src/pages/UploadPage.js
  src/routes/Router.js
Labels: Profile, fix, Login, design, feat, Home, Post, upload

#42 feat: 로그인, 홈 화면 스플래시 스크린 기능 구현 #2
  src/components/common/SplashScreen.js
  src/routes/Router.js
Labels: feat

#43 프로필 페이지 헤더 모달창, 홈화면 이미지 크기 조정
  src/components/common/Card.js
  src/components/common/Modal.js
  src/components/home/PostImage.js
  src/components/style/Header.js
  src/pages/ProfilePage.js
  src/routes/Router.js
Labels: Profile, design, feat, Home
