Repository 13oosters/project-sns-react, pull requests merged in 2023-01, with the labels that each got.

#44 Feat/common modal
  src/components/common/Card.js
  src/components/common/Modal.js
  src/components/follow/FollowersCard.js
  src/components/follow/FollowersCards.js
  src/components/post/Writing.js
  src/pages/FollowersPage.js
  src/utils/postData.js
Labels: feat, common

#45 Feat/search
  src/components/search/Result.js
  src/components/search/Results.js
Labels: fix, design, feat

#46 Feat/profile 프로필 수정 페이지, 팔로잉 리스트
  src/components/common/ProfileSetting.js
  src/components/follow/FollowersCard.js
  src/components/follow/FollowingsCard.js
  src/components/follow/FollowingsCards.js
  src/components/style/form/LoginForm.js
  src/pages/FollowersPage.js
  src/pages/FollowingsPage.js
  src/pages/LoginPage.js
  src/pages/ProfileEditPage.js
Labels: Profile, design, feat

#47 Feat/login
  src/components/common/SplashScreen.js
  src/components/search/Result.js
Labels: design

#49 Feat/login
  src/App.js
  src/components/common/ProfileSetting.js
  src/components/common/SplashScreen.js
  src/components/login/Form.js
  src/components/login/Login.js
  src/components/search/Result.js
  src/components/style/NavBar.js
  src/components/upload/ImageUpload.js
  src/components/upload/Posting.js
  src/components/upload/TextUpload.js
  src/index.js
  src/pages/FollowersPage.js
  src/pages/FollowingsPage.js
  src/pages/ProfileEditPage.js
  src/pages/ProfilePage.js
  src/pages/SearchPage.js
  src/pages/UploadPage.js
  src/routes/Router.js
Labels: remove, style, fix, Login, feat, common, upload

#48 Feat/common 모달디자인
  src/components/common/Modal.js
  src/components/follow/FollowersCard.js
Labels: design, common

#50 Feat/home 홈 피드 무한스크롤 구현
  src/assets/image/loading-small.gif
  src/components/common/Cards.js
  src/components/home/Feeds.js
  src/components/home/Loading.js
  src/components/home/PostImage.js
  src/components/style/Header.js
  src/pages/HomePage.js
Labels: design, feat, Home

#51 Feat/profile 프로필 수정 페이지
  src/components/common/ProfileSetting.js
  src/components/post/Dialog.js
  src/components/post/Writing.js
  src/components/profile/ProfileInformation.js
  src/components/style/form/LoginButton.js
  src/pages/ProfileEditPage.js
Labels: Profile, design, feat

#52 design: welcome 페이지 디자인 변경 #9
  src/components/login/Login.js
Labels: design

#53 Feat/post
  src/components/common/Cards.js
  src/components/common/Modal.js
  src/components/upload/ImageUpload.js
Labels: fix, Home, Post

#54 Feat/profile 콘솔/주석, 안 쓰는 파일 삭제
  .eslintrc.json
  src/App.css
  src/components/common/Feed.js
  src/components/common/Feeds.js
  src/components/common/Header.js
  src/components/common/NavBar.js
  src/components/follow/FollowingsCard.js
  src/components/home/Feeds.js
  src/components/home/PostImage.js
  src/components/login/Login.js
  src/components/post/Comment.js
  src/components/post/Detail.js
  src/components/post/Dialog.js
  src/components/profile/GridCard.js
  src/components/profile/GridCards.js
  src/components/profile/ProfileButton.js
  src/components/profile/SortButtons.js
  src/components/style/GlobalStyle.js
  src/components/style/Header.js
  src/components/style/NavBar.js
  src/components/style/PageLayout.js
  src/components/upload/EditImage.js
  src/pages/HomePage.js
  src/pages/PostPage.js
  src/pages/ProfileEditPage.js
  src/pages/ProfilePage.js
  src/pages/임시홈.js
  src/routes/Router.js
  src/utils/commentData.js
  src/utils/postData.js
  src/utils/validate.js
Labels: remove, style

#56 Feat/follower
  src/components/follow/FollowersCard.js
  src/components/style/follow/FollowCancelButton.js
Labels: bug, Profile, design

#57 fix: 팔로워 팔로잉 목록 사진 width값 스타일 수정
  src/components/follow/FollowersCard.js
  src/components/follow/FollowingsCard.js
Labels: Profile, fix, design

#58 fix: 모바일 화면에서 input창 누르면 확대 되는 현상 해결
  public/index.html
Labels: fix
